/* main dock */
body {
	background-color: #0b192f;
	color: #fff;
	/* font-size: 1em; */
	font-family: 'Roboto';
	font-weight: lighter;
}
.content {
	max-width: 1400px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows: auto;
	grid-template-areas: "header header header header" "main main main aside" "footer footer footer footer";
	grid-row-gap: 1em;
}
header {
	grid-area: header;
}
main {
	grid-area: main;
}
aside {
	grid-area: aside;
}
footer {
	grid-area: footer;
}

.news {
	color: black;
	background-color: #fff;
}
h1 {
	font-size: 2em;
}
h2,
h1 {
	font-weight: lighter;
}
.posts h2,
.hero-content h2 {
	font-size: 3em;
	margin: 0;
}

/* main menu */

nav,
footer {
	background-color: #024161;
}
.main-nav h1 {
	margin-left: 1em;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	height: 100%;
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 2em 1em;
	text-decoration: none;
}

li:hover {
	background-color: #1f52a4;
	cursor: pointer;
}

.main-nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

/* hero banner */

.hero-section {
	background-image: url('../img/post0.jpg');
	background-position: top;
	width: 100%;
	min-height: 550px;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	align-items: flex-end;
	margin-top: 1em;
}
.hero-content {
	padding-left: 3em;
	max-width: 80%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	margin: 0 0 1em 0;
}
/* articles */

img {
	width: 100%;
}
.article-content {
	position: relative;
	padding: 1em;
}
.date {
	position: absolute;
	top: 0;
	right: 1rem;
	text-align: center;
}

footer {
	padding: 1em;
	display: grid;
	grid-template-columns: 88% 12%;
	grid-template-rows: auto;
	grid-template-areas: "left-footer right-footer";
}
.column-left {
	grid-area: left-footer;
}
.column-right {
	grid-area: right-footer;
}

/* media query */

@media (max-width: 1400px) {
	.content {
		/* grid-template-columns: 25% 25% 25% 25%;
		grid-template-rows: 300px auto 400px;
		grid-template-areas: "header header header header" "main main main aside" "footer footer footer footer"; */
		/* grid-template-columns: 75% 25%; */
		/* 3fr 1fr */
	}
	.site-logo span {
		color: #d12767;
	}
}

/* tablet */

@media (max-width: 768px) {
	.site-logo span,
	ul {
		display: none;
	}
	.hero-section {
		min-height: 300px;
	}
}

/* phone */

@media (max-width: 480px) {
	.site-logo span,
	ul {
		display: none;
	}
	.content {
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		grid-template-areas: "header" "main" "aside" "footer";
	}
	.hero-section {
		min-height: 200px;
	}
	.hero-content {
		max-width: 80%;
	}

	footer {
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		grid-template-areas: "left-footer" "right-footer";
	}
}

/* :root {
	--bg-color--dark: #0b192f;
	--bg-color--header: #024161;
	--link: #fff;
	--link--hover: #1f52a4;
	--bg-footer-color: #024161;
} */

.post-1 {
	background: #9d27b0;
}
.post-2 {
	background: #9bb800;
}
.post-3 {
	background: #ed5120;
}
.post-4 {
	background: #9d27b0;
}
.post-5 {
	background: #2d95bb;
}
