/* main dock */
body {
	background-color: #0b192f;
	color: #fff;
	font-family: 'Roboto';
	font-weight: lighter;
}
.content {
	max-width: 1400px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows: auto;
	grid-template-areas: "header header header header" "main main main aside" "footer footer footer footer";
	grid-row-gap: 1em;
	grid-column-gap: 1em;
}
header {
	grid-area: header;
}
main {
	grid-area: main;
}
aside {
	grid-area: aside;
}
footer {
	grid-area: footer;
}
.site-logo span {
	color: #d12767;
}
.main-nav p {
	display: none;
}
img {
	width: 100%;
}
.news {
	color: black;
	background-color: #fff;
}
h1 {
	font-size: 2em;
}
h2,
h1 {
	font-weight: lighter;
}
.posts h2,
.hero-content h2 {
	font-size: 3em;
	margin: 0;
}

/* main menu */

nav,
footer {
	background-color: #024161;
}
.main-nav h1 {
	margin-left: 1em;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	height: 100%;
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 2em 1em;
	text-decoration: none;
}

li:hover {
	background-color: #1f52a4;
	cursor: pointer;
}

.main-nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

/* hero banner */

.hero-section {
	background-image: url('../img/post0.jpg');
	background-position: top;
	width: 100%;
	min-height: 550px;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	align-items: flex-end;
	margin-top: 1em;
}
.hero-content {
	padding-left: 3em;
	max-width: 80%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	margin: 0 0 1em 0;
}
/* articles */

.posts {
	display: flex;
	flex-direction: column-reverse;
}

.posts article {
	display: flex;
	flex-direction: row;
}
.posts article:nth-child(odd) {
	direction: ltr;
}
.posts article:nth-child(even) {
	direction: rtl;
}
.posts article:nth-child(odd) p.date {
	text-align: right;
	padding-right: 1em;
}
.posts article:nth-child(even) p.date {
	text-align: left;
}

.posts img {
	width: 50%;
}
.article-content {
	display: block;
	padding: 3.5em;
	position: relative;
}
.date {
	position: absolute;
	display: block;
	width: 95%;
	top: 0;
	right: 0;
	opacity: 60%;
}

.date span {
	font-size: 3em;
}
/* aside */

.news-content {
	padding: 2em;
}
.news-content h2 {
	font-size: 2em;
}
.news2 {
	margin-top: 1em;
}

/* footer */
footer {
	padding: 2em;
	display: grid;
	grid-template-columns: 88% 12%;
	grid-template-rows: auto;
	grid-template-areas: "left-footer right-footer";
}
.column-left {
	grid-area: left-footer;
}
.column-right {
	grid-area: right-footer;
}

/* media query */

@media (max-width: 1400px) {
}

/* tablet */

@media (max-width: 768px) {
	.main-nav {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.main-nav p {
		display: block;
	}
	ul {
		display: none;
	}
	.hero-section {
		min-height: 300px;
	}

	.posts article {
		display: flex;
		flex-direction: column;
	}
	.posts article:nth-child(even) {
		direction: ltr;
	}
	.posts article:nth-child(even) p.date {
		text-align: right;
		padding-right: 1em;
	}
	.posts img {
		width: 100%;
	}

	footer {
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		grid-template-areas: "left-footer" "right-footer";
		justify-content: center;
	}
	.column-left,
	.column-right {
		justify-self: center;
		text-align: center;
	}
}

/* phone */

@media (max-width: 480px) {
	ul {
		display: none;
	}
	.content {
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		grid-template-areas: "header" "main" "aside" "footer";
	}
	.hero-section {
		min-height: 200px;
	}
	.hero-content {
		max-width: 80%;
	}

	footer {
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		grid-template-areas: "left-footer" "right-footer";
	}
}

.post-1 {
	background: #9d27b0;
}
.post-1:hover {
	background: #9d27b0;
	opacity: 60%;
	cursor: pointer;
}
.post-2:hover {
	background: #9bb800;
	opacity: 60%;
	cursor: pointer;
}
.post-2 {
	background: #9bb800;
}
.post-2:hover {
	background: #9bb800;
	opacity: 60%;
	cursor: pointer;
}
.post-3 {
	background: #ed5120;
}
.post-3:hover {
	background: #ed5120;
	opacity: 60%;
	cursor: pointer;
}
.post-4 {
	background: #9d27b0;
}
.post-4:hover {
	background: #9d27b0;
	opacity: 60%;
	cursor: pointer;
}
.post-5 {
	background: #2d95bb;
}
.post-5:hover {
	background: #2d95bb;
	opacity: 60%;
	cursor: pointer;
}
