p.header_heading::after {
  content: "awesome";
  position: absolute;
  left: 0px;
  z-index: 1;
  background: #14a0c7; }

p.section_text::after {
  content: "adventure";
  position: absolute;
  left: 970px;
  z-index: 1;
  background: #14a0c7; }

p.section_banner_heading::after {
  content: "start";
  position: absolute;
  left: 123px;
  z-index: 1;
  background: #14a0c7; }

body {
  background: white;
  max-width: 1920px;
  margin: 0 auto;
  color: #2c2f3c;
  font-family: 'Source Sans Pro', sans-serif; }

header {
  background-image: url("../img/m-h-day.jpg");
  height: 715px;
  background-size: cover;
  background-position: center;
  border-bottom-right-radius: 40%; }

div.landing-logo {
  display: flex;
  align-items: center;
  max-width: 8%; }
  div.landing-logo p {
    padding: 18px 0 0 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "Hind", sans-serif;
    font-size: 1.5em;
    margin-top: 0;
    font-weight: bold; }
    div.landing-logo p span {
      font-size: x-small; }

.header-wrap {
  margin-left: 185px; }
  .header-wrap .header_heading {
    margin-top: 30px;
    clear: both;
    display: block;
    width: 472px;
    font-weight: bold;
    font-size: 60px;
    letter-spacing: 2px;
    position: relative; }
  .header-wrap .header_text {
    margin-left: -45px;
    white-space: pre;
    font-family: "Hind", sans-serif;
    font-size: 15px; }
  .header-wrap div {
    display: flex;
    align-items: center;
    width: 27%;
    justify-content: space-between; }
    .header-wrap div .header_button {
      display: block;
      background-color: #699900;
      color: white;
      width: 141px;
      height: 47px;
      text-align: center;
      border: 1px solid #699900;
      border-radius: 5px;
      font-weight: bold;
      font-size: medium; }
    .header-wrap div .login {
      color: white;
      font-size: medium;
      font-weight: bold; }

main {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  main .section_text {
    text-align: center;
    font-weight: 600;
    font-size: 45px;
    position: relative; }
  main .section_card_wrap {
    margin: 0 auto;
    max-width: 58%; }
    main .section_card_wrap .section_card {
      border-radius: 8px;
      color: white;
      display: flex;
      align-items: center;
      background-color: #21232e;
      padding: 20px;
      height: 325px;
      margin-bottom: 25px; }
      main .section_card_wrap .section_card .section_card_img {
        height: 100%;
        width: auto;
        border-radius: 8px; }
      main .section_card_wrap .section_card .section_card_right_container {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 60%; }
        main .section_card_wrap .section_card .section_card_right_container .section_card_heading {
          font-size: 30px;
          font-weight: bold; }
        main .section_card_wrap .section_card .section_card_right_container .section_card_text {
          font-family: "Hind", sans-serif;
          width: 75%;
          text-align: justify; }
        main .section_card_wrap .section_card .section_card_right_container .section_link {
          color: white; }
  main .section_banner {
    display: flex;
    position: relative;
    top: 70px;
    z-index: 1;
    width: 1195px;
    height: 142px;
    margin: 0 auto;
    background-image: linear-gradient(to right, #66960b, #2d5bd6);
    border-radius: 8px;
    justify-content: space-around;
    align-items: center; }
    main .section_banner .section_banner_heading {
      font-weight: bold;
      margin: 0px;
      font-size: 30px;
      position: relative; }
    main .section_banner .section_banner_button {
      display: block;
      background-color: #699900;
      color: white;
      width: 141px;
      height: 47px;
      text-align: center;
      border: 1px solid #699900;
      border-radius: 5px;
      font-weight: bold;
      font-size: medium; }

.section_banner_text, footer {
  color: white; }

footer {
  background-color: #21232e;
  height: 242px;
  display: flex;
  align-items: flex-end;
  font-family: "Hind", sans-serif; }
  footer div.footer-wrap {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 80%; }
    footer div.footer-wrap .footer_text {
      font-size: small;
      max-width: 290px; }
