@mixin button {
	display: block;
	background-color: $buttonColor;
	color: white;
	width: 141px;
	height: 47px;
	text-align: center;
	border: 1px solid $buttonColor;
	border-radius: 5px;
	font-weight: bold;
	font-size: medium;
}
@mixin link {
	color: white;
}
$identifier: ("header_heading":"awesome", "section_text":"adventure", "section_banner_heading":"start");
$position: ("awesome":0px, "adventure":970px, "start":123px);
@each $id, $word in $identifier {
	@each $word2, $left in $position {
		@if $word == $word2 {
			p.#{$id}::after {
				content: $word;
				position: absolute;
				left: $left;
				z-index: 1;
				background: $textHighlight;
			}
		}
	}
}

body {
	background: $backgroundColor;
	max-width: 1920px;
	margin: 0 auto;
	color: $mainColor;
	font-family: 'Source Sans Pro', sans-serif;
}
header {
	background-image: $headerImg;
	height: 715px;
	background-size: cover;
	background-position: center;
	border-bottom-right-radius: 40%;
}
div.landing-logo {
	display: flex;
	align-items: center;
	max-width: 8%;
	p {
		padding: 18px 0 0 15px;
		display: flex;
		flex-direction: column;
		text-align: center;
		font-family: $textFont;
		font-size: 1.5em;
		margin-top: 0;
		font-weight: bold;
		span {
			font-size: x-small;
		}
	}
}

.header-wrap {
	margin-left: 185px;

	.header_heading {
		margin-top: 30px;
		clear: both;
		display: block;
		width: 472px;
		font-weight: bold;
		font-size: 60px;
		letter-spacing: 2px;
		position: relative;
	}

	.header_text {
		margin-left: -45px;
		white-space: pre;
		font-family: $textFont;
		font-size: 15px;
	}
	div {
		display: flex;
		align-items: center;
		width: 27%;
		justify-content: space-between;

		.header_button {
			@include button;
		}
		.login {
			@include link;
			font-size: medium;
			font-weight: bold;
		}
	}
}
main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	.section_text {
		text-align: center;
		font-weight: 600;
		font-size: 45px;
		position: relative;
	}

	.section_card_wrap {
		margin: 0 auto;
		max-width: 58%;
		.section_card {
			border-radius: 8px;
			color: white;
			display: flex;
			align-items: center;
			background-color: $cardColor;
			padding: 20px;
			height: 325px;
			margin-bottom: 25px;
			.section_card_img {
				height: 100%;
				width: auto;
				border-radius: 8px;
			}
			.section_card_right_container {
				display: flex;
				align-items: center;
				flex-direction: column;
				justify-content: center;
				width: 60%;
				.section_card_heading {
					font-size: 30px;
					font-weight: bold;
				}
				.section_card_text {
					font-family: $textFont;
					width: 75%;
					text-align: justify;
				}
				.section_link {
					@include link;
				}
			}
		}
	}
	.section_banner {
		display: flex;
		position: relative;
		top: 70px;
		z-index: 1;
		width: 1195px;
		height: 142px;
		margin: 0 auto;
		background-image: linear-gradient(to right, $gradientFrom, $gradientTo);
		border-radius: 8px;
		justify-content: space-around;
		align-items: center;

		.section_banner_heading {
			font-weight: bold;
			margin: 0px;
			font-size: 30px;
			position: relative;
		}
		.section_banner_button {
			@include button;
		}
	}
}

.section_banner_text {
	color: white;
}

footer {
	@extend .section_banner_text;
	background-color: $cardColor;
	height: 242px;
	display: flex;
	align-items: flex-end;
	font-family: $textFont;
	div.footer-wrap {
		display: flex;
		align-items: center;
		justify-content: space-around;
		width: 100%;
		height: 80%;
		.footer_text {
			font-size: small;
			max-width: 290px;
		}
	}
}
