$headerImg: url('../img/m-h-night.jpg');
$backgroundColor: #21232e;

$mainColor: white;

$buttonColor: #e3ac00;
$textHighlight: #ff4e33;
$cardColor: #3b3f50;

$textFont: 'Hind', sans-serif;
$gradientFrom: #dea504;
$gradientTo: #96324f;
