$headerImg: url('../img/m-h-day.jpg');
$backgroundColor: white;

$headersFont: 'Source Sans Pro', sans-serif; // он используется в текте и общий для обоих файлов

$mainColor: #2c2f3c;

$buttonColor: #699900;
$textHighlight: #14a0c7;
$gradientFrom: #66960b;
$gradientTo: #2d5bd6;

$cardColor: #21232e;

$textFont: 'Hind', sans-serif;
