li {
	list-style-type: none;
}
i {
	vertical-align: bottom;
}
.folder {
	cursor: pointer;
}
.empty {
	font-style: italic;
	list-style-type: none;
	display: block;
	position: relative;
	left: -3%;
}
.material-icons {
	font-size: 20px;
}
.material-icons.md-inactive {
	color: rgba(0, 0, 0, 0.26);
}
.material-icons.color {
	color: #edbc0b;
}
.hidden {
	display: none;
}
.active {
	display: block;
}
.hover {
	background-color: #f2f2f2;
	display: block;
}
